* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


.account-wrap {
  width: 100%;
  border-top: 1px solid #EEEEEE;
  border-bottom: 1px solid #eeeeee;
  background: #ffffff;
  padding-left: .3rem;
}

.login input::-webkit-input-placeholder {
  font: 400 .3rem/.42rem 'microsoft yahei';
  color: #c7c7cd;
}

.login input {
  display: inline-block;
  font: 400 .3rem/.42rem '';
  width: 100%;
  padding-top: .21rem;
  padding-bottom: .24rem;
}

.login input:first-of-type {
  border: 0;
  border-bottom: 1px solid #EEEEEE;
}

.login {
  section {
    margin: .4rem .3rem;
  }

  .btn-confirm {
    width: 100%;
    font: 400 .3rem/.95rem 'microsoft yahei'
  }

  a {
    float: right;
    font-size: .26rem;
    margin-top: .32rem;
    color: #0196ff;
  }
}